#!/bin/bash
# Proxmox credentials
# Copy this file to .env and replace with your actual values
# Then run: source .env

export TF_VAR_pm_api_url="https://192.168.0.2:8006/api2/json"
export TF_VAR_pm_username="root@pam"
export TF_VAR_pm_password="userpass"
export TF_VAR_pm_target_node="proxmox-ve-hostname"
export TF_VAR_pm_template_id="9100"